.logo {
  background-image: linear-gradient(to left, red, blue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner {
  height: 15rem;
  position: relative;
  width: 100%;
}

.banner-img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
